// color
$color_1:#b61984;
$color_2:white;
$color_3:black;
$color_4:#00000085;
$color_5:inherit;
// font-weight
$fw_1:600;
$fw_2:700;
$fw_3:900;
// font-size
$fs_1:15px;
$fs_2:10px;
$fs_3:25px;
$fs_4:30px;
$fs_5:40px;
// background-color
$bg_color_1:#b61984;
$bg_color_2:#dcd1f0;
$bg_color_3:white;
// line-height
$line_1:80px;
$line_2:30px;
$line_3:35px;
// padding
$pd_TB_1:10px;
$pd_LR_1:20px;
$pd_LR_2:15px;
$pd_LR_3:60px;
// radius
$radius:30px;
// time
$time:1s;